footer {
    grid-area: footer;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #3347B0;
    justify-content: space-evenly;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: .5rem;
}

.ulist img{
    height: 1rem;
}
.ulist {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: .8rem;
}

.cor {
    color: #fff;
}

.nomes {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.redes-sociais ul {
    width: 15rem;
}

.redes-sociais {
    display: flex;
    width: 20%;
    gap: 2rem;
}

.fa-brands {
    color: white;
}

.social-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: solid 2px #fff;
    border-radius: 100%;
}

@media (max-width:647px) {
    .ul {
        display: none;
    }
}