
.div_inicio {
    grid-area: header;
    height: 100%;
    width: 100%;
    background-color: #3347B0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.start {
    height: 70px;
    width: 100px;
    margin-left: 2rem;
    display: flex;
    justify-items: center;
    gap: 16px;
}

.lion_school {
    display: flex;
    margin-top: .7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #ffff;
}

.sair {
    height: 40px;
    width: 10rem;
    display: flex;
    gap: 1px;
}

.texto_sair {
    display: flex;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #ffff;
}

@media (max-width:647px) {
    .sair {
        display: none;
    }
    .texto_sair {
        display: none;
    }
}
