@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,900&display=swap');

/* Primeira Tela */
main{
    grid-area: main;
    display: flex;
    align-items: center;
}

.container{
    padding-left: 5%;

}

.text{
    width: 700px;
    height: 200px;
    padding-left: 10%;
    padding-top: 5%;
}

.escolha_curso{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}

.curso{
    color: #3347B0;
    font-weight: 1000;
}

.image-responsive{
    height: 260px;
    width: 500px;
    padding-top: 4%;
    padding-left: 8%;
}

.estudante{
    width: 300px;
    height: 452px;
    padding-top: 37%;
    padding-left: 41%;
}

.cards1{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 51px;
    padding-left: 15%;
}

.cards-tag{
    padding-top: 10%;
}

.curso_DS{
    display: flex;
    height: 100px;
    width: 140%;
    background-color: #3347B0;
    padding-right: 12%;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;  
}

.DS,
.RDS{
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    color: #ffff;
}

.img-DS{
    padding: 5%;
    padding-left: 25%;
    height: 60px;
}


.cards-tag-RDS{
    padding-top: 10%;
}

.curso_RDS{
    display: flex;
    height: 100px;
    width: 140%;
    background-color: #3347B0;
    padding-right: 12%;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;  
}

.rds{
    padding: 3%;
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    color: #ffff;
}

.img-RDS{
    padding: 5%;
    padding-left: 25%;
    height: 60px;
}

/* SEGUNDA TELA */

.cards-alunos_container {
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #0006;
    padding: 16px;
    cursor: pointer;

}

.card:hover{
    box-shadow: 0px 0px 8px transparent;
}

.card__image-aluno{
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.aluno-name__title{
    font-size: 1.5rem;


@media (max-width:647px){

    .image-responsive{
        display: none;
    }
    .estudante{
        display: none;
    }

} 


}