.card-status {
    width: 100%;
    background-color: #BCC2E5;
    height: 3rem;
    display: none;
    justify-content: space-between;
    color: #3347B0;
}

.legenda-status-color-items {
    display: flex;
    align-items: center;
}

.menu-dropdown_status {
    width: 10%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.legenda-status_componentes {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-evenly;
}

.legenda-status_componentes {
    display: flex;
}

.color-status_cursando {
    background-color: #3347B0;
}

.color-status_finalizado {
    background-color: #E5B657;
}

.color-status_finalizado,
.color-status_cursando {
    width: 1.5rem;
    height: 1.5rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.menu-dropdown_content {
    display: none;
    position: absolute;
    background-color: #3347B0;
    color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .menu-dropdown_content {
    display: block;
}

.menu_aluno-finalizado:hover,
.menu_aluno-cursando:hover,
.menu_aluno-todos:hover {
    background-color: #ffffff;
    color: #3347B0;
}

.menu_aluno-finalizado,
.menu_aluno-cursando,
.menu_aluno-todos {
    padding: .5rem;
}