/* SEGUNDA TELA */

.cards-alunos_container {
    display: none;
    flex-direction: column-reverse;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.card-curso_place {
    display: grid;
    columns: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    justify-content: center;
}

.nome-curso_title {
    display: flex;
    padding-top: 5rem;
    color: #3347B0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #0006;
    margin: 16px;
    cursor: pointer;
    transition: .6s;
}

.card:hover {
    -xpedu-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.card__image-aluno {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.aluno-name__title {
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: #ffffff;
}